<div class="cbs">
    <div class="cba">
        <div class="boxshipment" [ngClass]="d.shipment_id == clickedShipment ? 'selected' : 'normal'" *ngFor="let d of responseData" (click)="onShipmentClicked(d.shipment_id)"
            >
            <img [src]="d.image">
            <div class="text">
                <span> Shipment_id: {{d.shipment_id}}</span>
                <div class="arrow">
                    <span>></span>
                </div>
                <span>Status: {{d.status}}</span>
            </div>

        </div>
    </div>
    <div class="margin">
        <app-orderprogress [clickedShipment]="clickedShipment"></app-orderprogress>
    </div>

</div>
 

